In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ghalamkarian\anaconda3\lib\site-packages (1.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\ghalamkarian\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ghalamkarian\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ghalamkarian\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ghalamkarian\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [18]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [19]:
data=pd.read_csv(r'C:\Users\Ghalamkarian\PycharmProjects\pythonProject3\drug.csv')

In [20]:
data.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [35]:
data.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  DrugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  DrugY

In [51]:
data.describe

              Age         Sex          BP  Cholesterol     Na_to_K
count  200.000000  200.000000  200.000000   200.000000  200.000000
mean    44.315000    0.520000    0.910000     0.485000   16.084485
std     16.544315    0.500854    0.821752     0.501029    7.223956
min     15.000000    0.000000    0.000000     0.000000    6.269000
25%     31.000000    0.000000    0.000000     0.000000   10.445500
50%     45.000000    1.000000    1.000000     0.000000   13.936500
75%     58.000000    1.000000    2.000000     1.000000   19.380000
max     74.000000    1.000000    2.000000     1.000000   38.247000

In [36]:
data.shape

(200, 6)

In [23]:
data.size

1200

In [53]:
y=data[['Drug']]
y[:5]
y.value_counts()

Drug
DrugY    91
drugX    54
drugA    23
drugB    16
drugC    16
Name: count, dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder
u=data['Sex']
le=LabelEncoder()
encoderdata=le.fit_transform(u)
data['Sex']=encoderdata
data

     Age  Sex      BP Cholesterol  Na_to_K   Drug
0     23    0    HIGH        HIGH   25.355  DrugY
1     47    1     LOW        HIGH   13.093  drugC
2     47    1     LOW        HIGH   10.114  drugC
3     28    0  NORMAL        HIGH    7.798  drugX
4     61    0     LOW        HIGH   18.043  DrugY
..   ...  ...     ...         ...      ...    ...
195   56    0     LOW        HIGH   11.567  drugC
196   16    1     LOW        HIGH   12.006  drugC
197   52    1  NORMAL        HIGH    9.894  drugX
198   23    1  NORMAL      NORMAL   14.020  drugX
199   40    0     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

qualitive data to quantitive data

In [26]:
e=data['BP']
le=LabelEncoder()
encoderdata1=le.fit_transform(e)
data['BP']=encoderdata1
data

     Age  Sex  BP Cholesterol  Na_to_K   Drug
0     23    0   0        HIGH   25.355  DrugY
1     47    1   1        HIGH   13.093  drugC
2     47    1   1        HIGH   10.114  drugC
3     28    0   2        HIGH    7.798  drugX
4     61    0   1        HIGH   18.043  DrugY
..   ...  ...  ..         ...      ...    ...
195   56    0   1        HIGH   11.567  drugC
196   16    1   1        HIGH   12.006  drugC
197   52    1   2        HIGH    9.894  drugX
198   23    1   2      NORMAL   14.020  drugX
199   40    0   1      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [27]:
e=data['Cholesterol']
le=LabelEncoder()
encoderdata2=le.fit_transform(e)
data['Cholesterol']=encoderdata2
data

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    0   0            0   25.355  DrugY
1     47    1   1            0   13.093  drugC
2     47    1   1            0   10.114  drugC
3     28    0   2            0    7.798  drugX
4     61    0   1            0   18.043  DrugY
..   ...  ...  ..          ...      ...    ...
195   56    0   1            0   11.567  drugC
196   16    1   1            0   12.006  drugC
197   52    1   2            0    9.894  drugX
198   23    1   2            1   14.020  drugX
199   40    0   1            1   11.349  drugX

[200 rows x 6 columns]

In [28]:
x=data[['Age','Sex','BP','Cholesterol','Na_to_K']].values
x[:5]

array([[23.   ,  0.   ,  0.   ,  0.   , 25.355],
       [47.   ,  1.   ,  1.   ,  0.   , 13.093],
       [47.   ,  1.   ,  1.   ,  0.   , 10.114],
       [28.   ,  0.   ,  2.   ,  0.   ,  7.798],
       [61.   ,  0.   ,  1.   ,  0.   , 18.043]])

In [29]:
#train&test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)
x_train.shape

(160, 5)

creating Drug tree

In [30]:
#train
drug_tree=DecisionTreeClassifier(criterion='entropy')
drug_tree

DecisionTreeClassifier(criterion='entropy')

In [31]:
drug_tree.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [32]:
#test
pretree=drug_tree.predict(x_test)
print(pretree[0:5])
print(y_test[0:5])

['DrugY' 'DrugY' 'DrugY' 'DrugY' 'drugC']
      Drug
11   DrugY
99   DrugY
128  DrugY
175  DrugY
1    drugC

In [33]:
#evaluation
from sklearn import metrics
evaluation=metrics.accuracy_score(y_test,pretree)
evaluation

0.95

In [46]:
a=drug_tree.predict([[45,1,1,1,5.355]])
a

array(['drugX'], dtype=object)

In [55]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pretree ))

              precision    recall  f1-score   support

       DrugY       0.94      1.00      0.97        15
       drugA       0.86      1.00      0.92         6
       drugB       1.00      0.67      0.80         3
       drugC       1.00      1.00      1.00         5
       drugX       1.00      0.91      0.95        11

    accuracy                           0.95        40
   macro avg       0.96      0.92      0.93        40
weighted avg       0.96      0.95      0.95        40